* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Light-red-opacity: hsla(0, 100%, 67%, 0.1);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Orangey-yellow-opacity: hsla(39, 100%, 56%, 0.1);
    --Green-teal: hsl(166, 100%, 37%);
    --Green-teal-opacity: hsla(166, 100%, 37%, 0.1);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Cobalt-blue-opacity: hsla(234, 85%, 45%, 0.1);
    --Light-slate-blue /*(background)*/: hsl(252, 100%, 67%);
    --Light-royal-blue /*(background)*/: hsl(241, 81%, 54%);
    --Violet-blue /*(circle)*/: hsla(256, 72%, 46%, 1);
    --Persian-blue /*(circle)*/: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

.root {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.card {
    height: auto;
    width: 40rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--Pale-blue);

    .left {
        background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
        border-radius: inherit;
        text-align: center;
        padding: 1.5rem 3rem;

        h1 {
            font-size: 1.4rem;
            color: var(--Light-lavender);
        }

        .score {
            font-size: 3.5rem;
            color: var(--White);
            border-radius: 50%;
            background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
            display: inline-block;
            padding: 2rem;
            padding-inline: 3rem;
            margin: 1rem 0 1.5rem 0;
        }

        span {
            display: block;
            font-size: 1.8rem;
            color: var(--White);
            font-weight: bold;
        }

        .message {
            font-size: 1rem;
            color: var(--Light-lavender);
        }
    }

    .right {
        padding: 1.5rem 2.2rem;
        
        h2 {
            color: var(--Dark-gray-blue);
        }

        .area {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-block: 1rem;
            border-radius: 8px;
        }
    }
}

.score::after {
    content: "of 100";
    font-size: 1rem;
    color: var(--Light-lavender);
    padding: 0;
    margin: 0;
    display: block;
}

.reaction {
    background: var(--Light-red-opacity);
    color: var(--Light-red);
}

.memory {
    background: var(--Orangey-yellow-opacity);
    color: var(--Orangey-yellow);
}

.verbal {
    background: var(--Green-teal-opacity);
    color: var(--Green-teal);
}

.visual {
    background: var(--Cobalt-blue-opacity);
    color: var(--Cobalt-blue);
}

.icon + h3 {
    font-size: 1rem;
}

.btn {
    background: var(--Dark-gray-blue);
    width: 100%;
    padding: .8rem;
    font-size: 1.1rem;
    color: var(--Pale-blue);
    border-radius: 25px;
    margin-top: 1.5rem;
}